{% load static %}

        <!-- Footer -->
        <footer class="footer text-faded text-center py-5">
          <div class="container">
            <p class="m-0">
              <a href="#" class="link">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="link">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
              <a href="#" class="link">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span>
              </a>
          </p>
            <p class="m-0 mbt">
              <a href="sample.html" class="link">Política de privacidad</a> ·
              <a href="sample.html" class="link">Aviso legal</a> ·
              <a href="sample.html" class="link">Cookies</a>
        </p>
            
          </div>
     

          
    <img src="{% static 'ProyectoWebApp/img/logo.png' %}" alt="Logo" class="logo" width="100">
    <p  class="m-0 mbt1">&copy; 2024 Gestión de Pedidos. Maria Victoria.</p>
    <p>Todos los derechos reservados.</p>
    <ul>
      <li><a href="{% url 'contacto' %}">Contacto</a></li>
      <li><a target="_blank" href="{% url 'admin:index' %}">Administración</a></li>
      <li><a href="https://github.com/MariaVictoria" class="fab fa-github fa-3x" style="color: cornsilk;"></a></li>
    </ul>
    
</footer>
