<table class="table table-bordered" style="color:wheat; margin-top: 15px;">
    <thead>
        <tr>
            <th colspan="5" class="text-center" style="background-color:#83a89c;">
                Carro de compras
            </th>
        </tr>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            
            <!--<th>Imagen</th>-->
        </tr>
    </thead>

    <tbody>
        {% if request.session.carro %}
            {% for key, value in request.session.carro.items %}
                <tr text="center">
                    <td>{{ value.nombre }}</td> 
                    <td>
                        <a href="{% url 'carro:agregar_producto' key %}" class="btn btn-sm btn-success">+</a>
                        {{ value.unidades }}
                        <a href="{% url 'carro:restar_producto' key %}" class="btn btn-sm btn-danger">-</a>
                    </td>
                    <td>
                        ${{ value.precio|floatformat:2 }} <br><br>
                        
                      
                    </td>
                    
                  
                    
                    <!--<td><img src="{{ value.imagen }}" alt="{{ value.nombre }}" style="width: 100px; height: auto;"></td>-->
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">
                    <div class="alert alert-danger text-center">
                        Sin Productos
                    </div>
                   
                </td>
                 
            </tr>
        {% endif %}
    </tbody>
    
    <tfoot>
        <tr>
            <td colspan="2">  
                <p style="color: antiquewhite;">Total : $ {{ importe_total_carro }} </p>
            </td>
            <td colspan="2"> 
                
                <a href="{% url 'carro:limpiar_carro' %}" class="btn btn-sm btn-danger">Limpiar Carro</a>
            </td>
        </tr>
        
        {% if request.session.carro.items %}
            <tr>
                <td colspan="5">
                    <form action="{% url 'procesar_pedido' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Hacer Pedido</button>
                    </form>
                </td>
            </tr>
        {% endif %}
    </tfoot>
    
    
</table>
