
{% extends 'ProyectoWebApp/base.html' %}
{% load static %}
{%block content %}

<section class ="contenedorFormulario form">
        {% if 'valido' in request.GET %}
        <p> Mensaje enviado exitosamente</p>
        {% endif %}

        <div >
                
                <form action="" method="POST">
                        {% csrf_token %}
                <table>
                        {{ mi_formulario.as_table }}
                </table>   
                <button type="submit">Enviar</button>
                </form>
        </div>
</section>
 
{% endblock %}

