{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<h1>Contáctanos</h1>

<p>Formulario Django</p>

{% if form.errors %}
    <div class="form-errors">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

<div class="django-description ">
    
    <div class="form-group">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <input type="submit" value="Enviar">
    </form>
    </div>
</div>
{% endblock %}
