{% extends 'ProyectoWebApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- login/login.html -->

<form class="register" action="" method="POST">
    {% csrf_token %}
    <div class="registro" style="width: 75%; margin: auto;">
        <div class="form-group">
            {% if messages %}
                {% for message in messages %}
                    <span class="alert alert-{{ message.tags }}">{{ message }}</span><br>
                {% endfor %}
            {% endif %}
            <br>{{ form|crispy }}
        </div>
        <button class="btn btn-info" type="submit">Iniciar Sesión</button>
        {% if request.user.is_superuser %}
            <a href="{% url 'admin:index' %}" class="btn btn-warning">Ir al Admin</a>
        {% endif %}
    </div>
</form>

{% endblock %}
